
<div class="middle_obj">
    <% if signed_in? %>  
<%= form_for(@shout) do |form| %>
  <%= form.text_field :body , :placeholder => "What do you have to say?" %>
  <%= form.submit "Shout" %>
<% end 
end %>
</div>
<br/>
<div class="middle_obj">
<b>What people are saying...</b><br/><br/>
<% if @shout.errors.any? %>
<% @shout.errors.full_messages.each do |message| %>
<p><%=message %></p>
<% end 
end %>
</div>
<div class="shout_display">
  <%= render @shouts %>
</div>