<!DOCTYPE html>
<html>
<head>
  <title>Shouter</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "user_bar" %>
<div class="page_title"><img src="http://www.mrsikhnet.com/wp-content/uploads/2008/11/megaphone.jpg" width="120" valign="middle">SHOUTER!!!</div>
<div class="notice"><%= notice %></div>
<br/><br/>
<div class="yield"><%= yield %></div>
</body>
</html>
